* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body {
  width: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
}

.Dashboard {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.Dashboard .sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 4vw;
  z-index: 10;
  outline: none;
  border: none;
  text-decoration: none;
  background: linear-gradient(to bottom, #1E2046, #5779A9);
  color: #FFF;
  font-size: 36px;
  cursor: pointer;
}

.Dashboard header {
  min-height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6E6E6;
}

.Dashboard header h1 {
  max-width: 41vw;
  line-height: 40px;
  font-size: 36px;
  text-transform: uppercase;
}

.Dashboard header img {
  position: absolute;
  width: 25vw;
  right: 40px;
  bottom: 0;
}

.Dashboard section.cards {
  width: 60vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4vw;
  padding: 9vw 0;
}

.Dashboard section.cards .Card:nth-child(2) {
  grid-column: span 2;
}
.Dashboard section.cards .Card:nth-child(3) {
  grid-column: span 2;
}
.Dashboard section.cards .Card:nth-child(6) {
  grid-column: span 2;
}

@media(max-width: 600px) {
  .Dashboard header img {
    display: none;
  }

  .Dashboard section.cards {
    grid-template-columns: 100%;
    grid-gap: 50px 0;
  }

  .Dashboard section.cards .Card {
    grid-column: 1;
  }
}